<div class="viewers-privacy three columns">
Page is: <strong><%= page.public ? 'Public' : 'Private' %></strong>
<br/>
<small>Change privacy below:</small>

<%= form_for page, method: :put do |f| %>
<%= f.radio_button :public, false, checked: page.public  == false %> <span> : Private</span> </br>
<%= f.radio_button :public, true, checked: page.public %> <span> : Public </span> <br/>
<%= f.submit 'Update' %>
<% end %>
<hr>
</div>

<div class="eight columns">
<% unless page.public %>
<div class="viewer-form">
<%= render partial: 'viewers/viewers_form', locals: { page: page } %>
</div>

<% if page.list_of_viewers.length > 0 %>
<table>
<thead>
<tr>
  <th>Username</th>
  <th>Email</th>
  <th>Date Added</th>
  <th>Remove?</th>
</tr>
</thead>
<tbody>
  <% page.list_of_viewers.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at.localtime.strftime("%b %d, %Y") %></td>
    <td><%= link_to "x", page, :method => :delete  %></td>
  </tr>
  </tbody>
  </table>
  <% end %>
<% end %>
</div>
<% end %>

</div>
