<div class="viewers-privacy three columns">
Page is: <strong><%= page.public ? 'Public' : 'Private' %></strong>
<br/>
<small>Change privacy below:</small>

<%= form_for page_create_collab_path(page) do |f| %>
<%= f.radio_button :public, false, checked: page.public  == false %> <span> : Private</span> </br>
<%= f.radio_button :public, true, checked: page.public %> <span> : Public </span> <br/>
<%= f.submit 'Update' %>
<% end %>
<hr>
</div>
<div class="eight columns">
<% unless page.public %>
<div class="viewer-form">
<%= render partial: 'viewers/viewers_form', locals: { page: page } %>
</div>
<table>
<thead>
<tr>
  <th>Username</th>
  <th>Email</th>
  <th>Date Added</th>
  <th>Remove?</th>
</tr>
</thead>
<tbody>
<% page.viewer.each do |viewer| %>
<% user = User.find_by_id(viewer.user_id) %>

<tr>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= viewer.created_at.localtime.strftime("%b %d, %Y") %></td>
  <td><%= link_to "x", page_delete_viewer_path, :method => :delete  %></td>
</tr>
</tbody>
</table>
<% end %>
</div>
</div>
<% end %>