<div class="nine columns">
  <div class="viewers-privacy six columns">
    Current page is set as: <strong><%= page.public ? 'Public' : 'Private' %></strong>
    <br/>
    <small>Change privacy below:</small>

    <%= form_for page, method: :put do |f| %>
      <%= f.radio_button :public, false, checked: page.public  == false %> <span> : Private</span> </br>
      <%= f.radio_button :public, true, checked: page.public %> <span> : Public </span> <br/>
      <%= f.submit 'Update Privacy', id: 'privacy-btn' %>
    <% end %>
  </div>
  <hr>
  <% unless page.public %>
    <div class="nine columns">
      <div class="viewer-form four columns">
        <%= render partial: 'viewers/viewers_form', locals: { page: page } %>
      </div>
      <div class="collab-form four columns">
        <%= render partial: 'collaborators/collaborator', locals: { page: @page } %>
      </div>
    </div>
    
    <div class="nine columns">
      <% if page.list_of_viewers.length > 0 %>
        <div class="table four columns">
          <h5 class="center"> Collaborators</h5>
          <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Remove?</th>
              </tr>
            </thead>
            <tbody>
              <% page.list_of_viewers.each do |user| %>
                <tr>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= link_to 'x', '#', :method => :delete  %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      
      <% if page.list_of_collaborators.length > 0 %>
        <h5 class="center"> Viewers</h5>
        <div class="table four columns">
          <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Remove?</th>
              </tr>
            </thead>
            <tbody>
              <% page.list_of_collaborators.each do |user| %>
                <% #role = (Role.joins(:page).where(:status => "collaborator", :user_id => user.id)) %>
                <tr>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= link_to 'x', '#', :method => :delete  %></td>
                </tr>              
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  <% end %>
</div>