<% content_for :head do %>
  <%= stylesheet_link_tag 'pages' %>
<% end %>


<div class="ten columns offset-by-three ">
<row>
<h2>Edit content or settings for: <%= @page.title %></h2>
</row>
</div>

<div class="eight columns fixed-form">
<%= form_for @page, :method => :put do |f| %>
  <%= f.text_field :title, :value => @page.title %>
  <%= f.text_area :body, :value => @page.body %>
  <%= f.submit 'Save', class: 'new-page-button' %>
<% end %>
</div>

<div class="eight columns output-display">
  <h4>As will actually appear on your page:</h4>
  <hr>
  <div class="overflow marked-text"></div>
</div>

<% if current_user.subscriber %>
<%= button_tag 'Page Settings', class: 'page-settings' %>
<% end %>

<div class="js-collab-popup hidden">
  <div class="collab-form">
      <%= render partial: 'collaborators/collaborator', locals: { page: @page } %>
  </div>
  <div class="privacy-settings">
    <%= render partial: 'viewers/settings', locals: { page: @page } %>
  </div>
</div>