<% content_for :head do %>
  <%= stylesheet_link_tag 'pages' %>
<% end %>

<div class="ten columns offset-by-three ">
<div class="row center">
<h2>Welcome to your new page!</h2>
</div>
</div>


<div class="eight columns fixed-form">
<%= form_for @page do |f| %>
  <%= f.text_field :title, :placeholder => "Title goes here..." %>   
  <%= f.text_area :body, :placeholder => "Content goes here..." %>
  <%= f.submit 'Save', class: 'new-page-button', value: 'Save Page' %>
</div>
<% end %>

<div class="eight columns output-display">
  <div class="overflow marked-title"></div>
  <div class="overflow marked-text"></div>
</div>