<h4>Welcome to your page!</h4>

<div class="six columns">
<%= form_for @page do |f| %>

  <%= f.label :title, 'Enter title here...'  %>
  <%= f.text_field :title %>

  <%= f.label :body, 'Enter your data here...' %>
  <%= f.text_area :body, :size => "10x12" %>


  <fieldset>
  <label for="">Make page available to public?</label>
  <%= f.radio_button :public, true %> <span> Yes, make it public</span> </br>
  <%= f.radio_button :public, false %> <span>No, keep it private </span>
 </fieldset>

  <%= f.submit %>
<% end %>
</div>

<div class="eight columns">
  <h3>As will actually appear on your page:</h3>
  <hr>
  <div class="marked-text">
  </div>
</div>