<% content_for :head do %>
  <%= stylesheet_link_tag 'pages' %>
<% end %>

<div class="ten columns offset-by-three ">
<div class="row">
<h2>Welcome to your page!</h2>
</div>
</div>


<div class="eight columns fixed-form">
<%= form_for @page do |f| %>
  <%= f.text_field :title %>   
  <%= f.text_area :body %>
  <%= f.submit 'Save', class: 'new-page-button', value: 'Save Page' %>
</div>
<% end %>

<div class="eight columns output-display">
  <h4>Title:</h4>
  <hr>
  <div class="overflow marked-text"></div>
</div>