<div class="seven columns offset-by-four ">
<h2 class="banner">Welcome to your page!</h2>
</div>

<div class="five columns fixed-form">
<%= form_for @page do |f| %>

  <%= f.label :title, 'Enter title here...'  %>
  <%= f.text_field :title %>

  <%= f.label :body, 'Enter your data here...' %>
  <%= f.text_area :body, :size => "10x12" %>


  <fieldset>
  <label for="">Make page available to public?</label>
  <% if can? :make_private, @page %>
  <%= f.radio_button :public, false %> <span>No, keep it private </span> </br>
  <%= f.radio_button :public, true %> <span> Yes, make it public</span>
 <% else %>
   <%= f.radio_button :public, true %> <span> Only, subscribers can create private pages</span>
 </fieldset>
 <% end %>

  <%= f.submit 'Save', class: 'button' %>
<% end %>
</div>

<div class="ten columns">
  <h4>As will actually appear on your page:</h4>
  <hr>
  <div class="overflow">
  <pre class="marked-text"> </pre>
  </div>
</div>