<h4><%= @page.title %></h4> 


<div>
<p> <%= markdown(@page.body)  %> </p>
</div>

<div><%= link_to 'Edit Page', edit_page_path %></div>
<div><%= link_to 'Delete Page', @page, method: :delete %></div>

<h2>Page is  <%= @page.public ? 'public' : 'private' %> </h2>
