<% content_for :head do %>
  <%= stylesheet_link_tag 'pages' %>
<% end %>

<div class="sixteen columns center">
  <h2><%= @page.title %></h2> 
</div>


<div class="three columns">
  <%= link_to('Edit Page', edit_page_path, class: 'button') if can? :update, @page  %>
  <%= link_to('Delete Page', @page, method: :delete, class: 'button') if can? :manage, @page %>
</div>


<div class="ten columns off-set-by-one output-display show-apge">
  <%= markdown(@page.body)  %>
</div>

<div class="ten columns versions">
Page Versions
 <table id="version-table">
    <thead>
      <tr>
        <th>Title (Click to view)</th>
        <th>Date Created</th>
        <th>Created By</th>
        <th>Public?</th>
        <th>Version Number</th>
      </tr>
    </thead>

    <tbody>
    <% @page.number_of_versions.times do |n| %>
    <% version = @page.versions[(n+1)*-1] %>
      <tr>
        <td><%= link_to version.reify.title, page_version_path(@page, version) %> </td>
        <td><%= version.created_at.localtime.strftime("%b %d, %Y %l:%M:%S %p") %></td>
        <td><%= User.find(version.originator.to_i).username if version.originator %></td>
        <td><%= version.reify.public %></td>
        <td>No. <%= n+1 %></td>
      </tr>
      <% end %>
    </tbody>
</div>


